/* CATALOG */

#catalog-body {
  background-color: #000;
}

.pdf-catalog {
  margin-top: 50px;
  height: 100vh;
  width: 100%;
}

@media (max-width: 790px) {
  .pdf-catalog {
    display: none;
  }
}

.catalog-images {
  padding: 0px 40px;
}

.catalog-images img {
  margin-bottom: 1em;
  max-width: 100%;
}

@media (min-width: 791px) {
  .catalog-images {
    display: none;
  }
}
