.arrow {
  position: absolute;
  display: block;
  height: 40px;
  width: 40px;
  left: 50%;
  top: 73%;
  margin-left: -25px;
  z-index: 99;
  animation: bouncing 1.5s infinite ease-in-out;
}

@keyframes bouncing {
  0% {
    top: 73%;
  }
  50% {
    top: 75%;
  }
  100% {
    top: 73%;
  }
}

@media (max-width: 992px) {
  .arrow {
    top: 95%;
    animation: bouncing-mobile 1.5s infinite ease-in-out;
  }
}

@keyframes bouncing-mobile {
  0% {
    top: 95%;
  }
  50% {
    top: 93%;
  }
  100% {
    top: 95%;
  }
}
