/* Colors */
:root {
  --main-orange-color: rgb(245, 134, 52);

  /* Transitions */
  --link-transition-speed: color 0.2s ease;
  --nav-transition-speed: transform 0.3s ease-in-out;

  --button-transition-speed: background 0.2s ease;
}
